div #background {
    width: 1200px;
    height: 800px;
    background-image: url('/../lvl1/background.png');
    position: absolute;
    transition: 0.3s;
}

div #hero {
    width: 50px;
    height: 50px;
    background-image: url('/../lvl1/hero.png');
    position: absolute;
    left: 575px;
    top: 500px;
    transition: 0.1s;
}

#background {
    position: fixed;
    top: 0%;
    left: 6%;
    transition: 0.3s;
}

div .missile1 {
    width: 10px;
    height: 28px;
    background-image: url('/../lvl1/missile1.png');
    position: absolute;
}

div .enemy {
    width: 50px;
    height: 50px;
    background-image: url('/../lvl1/enemy.png');
    position: absolute;
    
}

body,
html {
    height: 100%;
}

body {
    position: fixed;
    background-image: url('/../lvl1/background.png');

    /* Full height */
    height: 100%;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgz {
    width: 20px;
}

.centered {
    position: fixed;
    top: 30px;
    left: 30px;
}

.fin {
    position: fixed;
    top: 30%;
    left: 40%;
}

.fin h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 65px;
}

.fin p{
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-top: -30px;
}
